*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #d69df8, #99caff, #ec8686);
  background-size: 400% 400%;
  animation: flow 10s ease infinite;
}
@keyframes flow {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
} 
100% {
  background-position: 0% 50%;
}
}
/* Global Tags Started */

h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}
span{
  font-size: 0.9rem;
  color: #757373;
}

h6{
  font-size: 1.1rem;
  color: rgb(24,24,49);
}
/* Global Tags Ended */

/* scroll-up Started  */

#progress{
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
} 
#progress-value i{
  transform: scale(0.8);
  color: #ff3753;
}
#progress-value{
  display: block;
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

/* scroll-up Ended  */



/* Navigation Started */

nav{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(249, 249, 219);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
  padding: 1vw 8vw;
  z-index: 999;
  border-radius: 0px 0px 20px 20px;

}

nav img {
  width: 220px;
  cursor: pointer;
}

nav .navigation{
  display: flex;
}

#menu-btn{
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: none;

}
#menu-close{
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: none;

}

nav .navigation ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li{
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a{
  text-decoration: none;
  color: rgb(21,21,100);
  font-size: 16px;
  padding: 10px;
  border-radius: 15px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
nav .navigation ul li a.current,
nav .navigation ul li a:hover{
  background-color: #FDC93B;
  color: #fff;
}


/* Navigation Ended */


/* Back Video Started */
.about-back-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  border-radius: 55px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

@media (min-aspect-ratio: 16/9) {
  .about-back-video {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-aspect-ratio: 16/9) {
  .about-back-video {
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);

  }
}
/* Back Video Ended */


/* about-home Started */
#about-home {
  padding: 0 5%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-home .about-vector {
    width: 100%;
    height: auto;
    position: relative;
    top: -6rem;
    right: 0;
    left: 25%;
    animation: about-vector1 6500ms linear infinite;
}
@keyframes about-vector1 {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.09);
  }
  75% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1.05);
  }

}

#about-home .text{
    align-items: left;
    position: relative;
    top: 10rem;
    left:-40%;
    text-align: left;
}

#about-home h2{
  color: #fff;
  font-size: 3.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  letter-spacing: 1px;
}



#about-home .btn{
  margin: 2rem;
  margin-left: 5rem;
  text-align: left;

}

#about-home a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
#about-home a.yellow{
  color: #fff;
  background: #FDC93B;
  transition: 0.3s ease-in-out;
}
#about-home a.yellow:hover{
  color: rgb(21,21,100);
  background: #fff;
}
/* Short screens */

@media (max-width: 769px) {
  #about-home .text{
    top : 6rem;
    left: -2.5rem;
    width: 70%;
    text-align: center;
  }
  #about-home .about-vector {
    right: 5%;
    top: -5em;
    width: 50%;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  #about-home .text{
    top : 12rem;
    left: -8.5rem;
    width: 50%;
    text-align: center;
  }
  #about-home .about-vector {
    right: 5%;
    top: -7.5em;
  }
}
/* about-home Ended */

/* About Started */

  #about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
  }
#about-container .about-img{
    width: 50%;
}

#about-container .about-img img{
  width: 60%;
  height: 100%;
  animation: about-vector1 6500ms linear infinite;
}

@keyframes about-vector1 {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.09);
  }
  75% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1.05);
  }

}

#about-container .about-text{
  width: 60%;
  }

  #about-container .about-text h2{
    color: #29303b;
    font-size: 3rem;
    padding-bottom: 15px ;
  }

  #about-container .about-text p{
    color: #29303b;
    font-weight: 300;
  }

  #about-container .about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
  }

  #about-container .about-text .about-fe img{
    width : 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px; 
  }

  #about-container .about-text .about-fe .fe-text{
    width: 90%;
  }
  #about-container .about-text .about-fe .fe-text h5{
    font-size: 1.2rem;
  }


  
/* Small screens */
@media only screen and (max-width: 767px) {
  
  #about-container{
    flex-direction: column;
  }
  #about-container .about-img{
    padding: 30px;
    position: relative;
    width: 100%;
    width: 70%;
}
#about-container .about-text{
  width: 100%;
  padding: 10px;
}

  #about-container .about-img img{
    width: 100%;
    height: 20%;
    animation: about-vector1 6500ms linear infinite;
  }
  
  
    #about-container .about-text h2{
      left: 5rem;
      color: #29303b;
      font-size: 2rem;
      text-align: center;
      align-self: center;
      width: 100%;
      padding-bottom: 15px ;
    }
  
    #about-container .about-text p{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #29303b;
      font-weight: 300;
    }
  
    #about-container .about-text .about-fe{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 30px;
    }
  
    #about-container .about-text .about-fe img{
      width : 50px;
      background-size: cover;
      background-position: center;
      margin-right: 20px; 
    }
  
    #about-container .about-text .about-fe .fe-text{
      width: 90%;
  
    }
    #about-container .about-text .about-fe .fe-text h5{
      font-size: 1.2rem;
    }
  
}

/* Medium screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #features .fea-box i {
    font-size: 3rem;
    padding: 20px;
  }

  #features .fea-box h3 {
    font-size: 1rem;
    padding: 8px 0 3px 0;
  }

  #features .fea-box p {
    font-size: 0.9rem;
  }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  /* No additional changes for large screens */
}
/* About Ended */


/* Community Started */

#experts {
  padding: 50px;
}

#experts h1 {
  text-align: center;
  margin-bottom: 10px;
}

#experts p {
  text-align: center;
  color: rgb(70, 70, 87);
  margin-bottom: 30px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  position: relative;
}

.wrapper #right {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  z-index: 1;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}


.wrapper #left {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  z-index: 1;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper #right:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper #left:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper #left {
  left: -22px;
}

.wrapper #right {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 4%;
  gap: 16px;
  border: none;
  border-radius: 55px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 0.3s ease-in-out;
}

.carousel .card:hover {
  transform: translateY(-4.0%);
  box-shadow: 0 12px 36px 0 rgba(31, 38, 135, 0.50);
}

.carousel .card .img {
  background: #f4f4f4;
  height: 148px;
  width: 260px;
  border-radius: 25px;
}

.card .img img {
  width: 258px;
  height: 83px;
  object-fit: cover;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

/* Icon Links */
.card .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: #6A6D78;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  border-radius: 50%;
}

.card .social-icons a:hover {
  background-color: #8B53FF;
  color: #fff;
}

/* Responsive Styles */

@media only screen and (max-width: 767px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* Medium screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  /* No additional changes for large screens */
}

/* Community Ended */



/* Footer Started */

footer{
  padding: 8vw;
  background-color: #101C32;
  display: flex;
  justify-content: space-between;
  border-radius: 25px 25px 0px 0px;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-col {
  padding-bottom: 40px;
  }

footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 20px;
  }

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

footer li:hover {
    transform: scale(1.08);
    color: rgb(241, 240, 245);
    }

footer p {
      color: #7b838a;
    }

footer .subscribe{
      margin-top: 20px;
      }

footer input{
      width: 220px;
      padding: 15px 12px;
      background: #334F6C;
      border: none;
      outline: none;
      border-radius: 10px;
      color:#fff;
      }
footer input:focus{
      border: 2px solid #fff;
}
footer .subscribe a {
        text-decoration: none;
        font-size: 0.9rem;
        padding: 12px 15px;
        background-color: #fff;
      border-radius: 10px;

        font-weight: 600;
      }

footer .subscribe a.yellow {
        color: #fff;
        background:#FDC93B;
        transition: 0.3s ease-in-out;
      }

footer .subscribe a.yellow:hover{
        color: rgb(21, 21, 100);
        background: #fff ;
        }

footer .copyright {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;
        }
footer .copyright p{
          color: #fff;
}

footer .copyright .pro-links {
          margin-top: 0px;
          }

footer .copyright .pro-links i {
          background-color: #5f7185;
          padding: 15px;
          margin-left: 10px;
          font-size: 1.5rem;
          border-radius: 10px;
          cursor: pointer;
          color: #fff;
          }

footer .copyright .pro-links i:hover {
            background-color: #FDC93B;
            color: #2c2c2c;
          }

@media (min-width:480px){
  
footer .copyright .pro-links i{
  margin-top: 10px;
}

}
/* Footer Ended */




/* Media Queries Nav And Home*/

@media (max-width:769px) {
  nav {
    padding: 15px 20px;
  }
  nav img{
    width: 180px;
  }
  #menu-btn{
    display: initial;
  }
  #menu-close{
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }
  nav .navigation ul{
  position: absolute;
  top: 0;
  right: -220px;
  width: 220px;
  height: 100vh;
  background: rgba(17,20,184,0.45);
  backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.3s ease-in-out;
  }
  nav .navigation ul.active{
    right: 0;
  }
nav .navigation ul li{
  padding: 20px 0 20px 40px;
  margin-left : 0;
}
nav .navigation ul li a{
  color: #fff;
}
#about-home h2 {
  margin-top: 4%;
  font-size: 2.0rem;
}

#about-home p {
  font-size: 0.8rem;
}

#about-home a {
  font-size: 0.8rem;
  padding: 10px 25px;
}

}



